* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2A1B3D;
	font-family: 'Lato', sans-serif;
	color: #fff;
}

/* Navigation menu */
nav {
	background-color: #000;
	padding: 8px;
	height: 120px;
	text-align: center;
}

ul {
	padding: 12px 0;
}

li {
	background-color: #D83F87;
	display: inline-block;
	padding: 16px 20px;
	margin: 10px;
	border-radius: 5px;
}

li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

/* Main - Feature */
h1 {
	font-size: 2.5em;
	letter-spacing: 0.1em;
	margin: 40px 0;
	padding: 25px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

/* Whole box {image,h2,p} */
.feature {
	height: 1000px;
	text-align: center;
}

/* Setting of each box */
.box {
	display: inline-block;
	width: 30%;
	height: 40%;
	vertical-align: top;
}

.box img {
	width: 100%;
	height: 100%;
}

.box h2 {
	text-transform: uppercase;
	margin: 20px 0;
}

.box p {
	background-color: #8267A5;
	padding: 12px;
	border: 1px solid #fff ;
	height: 350px;
	border-radius: 8px;
	text-align: left;
	font-weight: 300;
	word-spacing: 0.1em;
	letter-spacing: 0.1em;
}

.box p::first-letter {
	font-size: 40px;
}

/* Footer  */
footer {
	background-color: #A4B3B6;
	background-position: bottom;
	text-align: center;
}

footer li {
	background-color: #000;;
	display: inline-block;
	padding: 16px 20px;
	margin: 10px;
	border-radius: 5px;
}

li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
